:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --back-ground-primery: #292a2d;
  --back-ground-second: #202124;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--back-ground-primery);
  color: var(--light);
}

.container {
  width: 85%;
  margin: 0 auto;
}

.container-cards {
  width: 75%;
  margin: 10px auto;
}

.cards {
  background-color: var(--back-ground-second);
  margin-bottom: 5px;
}

.body-card {
  width: 95%;
  margin: 0 auto;
}

.header-card {
  margin-left: 5px;
}

.list-info-card {
  float: left;
  list-style: none;
  width: 40%;
  padding: 5px 5%;
}

.list-info-card:last-child {
  float: none;
  display: inline-block;
}

.active {
  background-color: #cff6dd;
  color: #1fa750;
  border-radius: 30px;
  padding: 5px 20px;
}

.disable {
  background-color: #f6cfcf;
  color: #a71f1f;
  border-radius: 30px;
  padding: 5px 20px;
}

.unkown-state {
  background-color: #fdf5dd;
  color: #bf9005;
  border-radius: 30px;
  padding: 5px 20px;
}
